.text {
  padding: 100px;
  font-weight: 900;
  font-size: 3rem;
  animation: color-text 3s alternate infinite;
}


@keyframes color-text {
  0% {
    color: rgb(26, 22, 22);
  }

  100% {
    color: rgb(218, 15, 15);
  }

}