.grid * {
  padding: 10px 15px;
  background-color: rgb(96, 143, 204);
  border: 1px solid rgb(24, 84, 133);
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  color: #fff;
}

.grid {
  margin: 100px;
  display: grid;
  grid-template-columns: 100px 100px minmax(100px, 200px) 100px 100px;
  grid-template-rows: auto auto;
  grid-gap: 20px;




}