@font-face {
  font-family: "Antipasto Pro";
  font-weight: 400;
  font-style: normal;  
  src: local("Antipasta Pro regular"),
        local("Antipasta Pro-regular"),
        url("../fonts/AntipastoPro-Regular.woff2") format("woff2"),
        url("../fonts/AntipastoPro-Regular.woff") format("woff"),
        url("../fonts/AntipastoPro-Regular.eot") format("eot");      
  font-display: swap;
}
@font-face {
  font-family: "Antipasto Pro";
  font-weight: 800;
  font-style: normal;  
  src: local("Antipasta Pro Extra Bold"),
        local("Antipasta PrExtrabold"),
        url("../fonts/AntipastoPro-Extrabold.woff2") format("woff2"),
        url("../fonts/AntipastoPro-Extrabold.woff") format("woff"),
        url("../fonts/AntipastoPro-Extrabold.eot") format("eot");      
  font-display: swap;
}

.greet__text-1 {
  font-family: "Antipasto Pro";
  font-weight: 800;
}

.greet__text-2 {
  font-family: 'Open Sans', sans-serif;;
 font-weight: 600;
}

.greet__title {
  font-style: 5rem;
  margin-bottom: 50px;
}
.greet__text {
  font-style: 2rem;
  line-height: 150%;
  margin-bottom: 50px;
}

