html, body {
  font-family: Manrope, sans-serif;
  color: #1E1B1B;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.conteiner {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__offer {
  padding: 128px 0 192px;
}

.main__blog {
  padding-bottom: 131px;
}

.button {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
}

.button:hover {
  transform: scale(1.05);
}

.heading {
  color: #1E1B1B;
}

.heading__subtitle {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -3%;
  margin-bottom: 8px;
}

.title {
  font-size: 58px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: -1.74px;
}

.heading__title {
  display: inline-flex;
  width: 858px;
  flex-direction: column;
  flex-shrink: 0;
}


/* ================================================== */
/* ================================================== */

.header {
  font-weight: 600;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {

  display: flex;
}

.header__nav-item {
  margin-left: 40px;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  line-height: 28px;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FF3F3A;
}

.header__user {
  position: relative;
  margin-left: 64px;
  padding-left: 54px;
}

.header__line-btn::before {
  content: "";
  position: absolute;
  right: 30px;
}

.header__user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icon/assisticon.svg") no-repeat;
  width: 40px;
  height: 40px;
  display: block;
}

.header__user::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  background: url("../images/icon/line.svg") no-repeat;
  width: 4px;
  height: 42px;
  display: block;
}


.header__top-road {
  font-weight: 500;
  line-height: 24px;
}

.header__top-cont {
  font-size: 18px;
  line-height: 175%;
}

/* ================================================= */
/* ================================================== */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E1B1B;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -3%;
  max-width: 624px;
  margin-bottom: 32px;
}

.header__content-buttons {
  display: flex;
  align-items: center;
}

.header__body-button {
  margin-right: 32px;
}

.header__play-btn {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header__play-btn svg {
  margin-right: 8px;
}

.header__play-btn svg:hover {
  transform: scale(1.1);
  position: relative;
}

.header__img {}

.header__watch {
  position: relative;
  margin-top: 48px;
  padding-left: 44px;
}

.header__watch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icon/icon2.svg") no-repeat;
  width: 31px;
  height: 31px;
  display: block;
}

.header__hero {
  position: relative;
}

.header__hr {
  position: absolute;
  display: flex;
  top: 81px;
  left: -35px;
  align-items: center;
  padding: 3px 25px 5px 1px;
  line-height: 32px;
  font-size: 24px;
  border: 12px solid #FFF;
  background: linear-gradient(174deg, #FFF 0%, #FFF 100%);
  border-radius: 59px;
  box-shadow: 0px 0px 0px 14px rgba(228, 226, 235, 0.5);
}

.header__hr svg {
  margin-right: 15px;
  line-height: 36px;
}

.header__reting {
  position: absolute;
  bottom: 70px;
  right: -20px;
  padding: 20px 20px;
  border-radius: 59px;
  border: 12px solid #FFF;
  background: linear-gradient(174deg, #FFF 0%, #FFF 100%);
  box-shadow: 0px 0px 0px 14px rgba(228, 226, 235, 0.5);
}

.header__open {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
}

.header__clock {
  font-size: 18px;
  line-height: 32px;
}

/* ========================================== */
/* ========================================== */

.offer {
  background: var(--light-grey, #F2F2F2);
}


.offer__inner {}

.offer__heading {
  text-align: center;
  margin-bottom: 64px;
}


.offer__body {}

.offer__list {
  text-align: center;
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 32px;
}


.offer__list-item {
  background: #FFF;
  width: 316px;
  height: 232px;
  flex-shrink: 0;
  transition: all .3s;
}

.offer__list-item:hover {
  background: var(--primary, #FF6433);
  color: #FFF;
  transition: all .3s;
}

.offer__list-item:hover svg path {
  fill: #FFF;
  transition: all .3s;
}

.offer__icon {
  display: inline-block;
  text-align: center;
  margin-top: 70px;
}


.list__link {
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.72px;
}


.offer__link-btn {
  display: flex;
  font-size: 18px;
  line-height: 175%;
  margin-left: 80%;
  transition: all .3s;
}

.offer__link-btn:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.offer__link-btn::after {
  content: "";
  display: block;
  width: 53px;
  height: 26px;
  background: url("../images/icon/arrow.svg") 0 10px / 100% no-repeat;
  margin-left: 16px;
}

/* =========================================================== */
/* =========================================================== */



.blog__heading {
  margin-bottom: 47px;
}

.blog__title {
  margin-top: 131px;
}


.button__content {
  display: flex;
  margin-bottom: 46px;
}

.blog__button {
  margin-right: 30px;
}

.blog__button-btn {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
}

.blog__button:last-child {
  margin-right: 0px;
}

.blog__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 64px 32px;
}


.blog__image-box {
  margin-bottom: 24px;
}

.blog__link-content {}

.blog__link-tag {
  color: var(--grey, #939191);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}

.blog__link-text {
  width: 405px;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}

.blog__link-btn {
  width: 405px;
  flex-direction: column;
  flex-shrink: 0;
  line-height: 28px;
  color: var(--black, #232536);
}