/* ============================ GLOBAL ========================================== */
/* ============================ GLOBAL ========================================== */

html, body {
  font-family: Manrope, sans-serif;
  font-weight: 600;
  color: #1E1B1B;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.349);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: none;
}

.main__offer {
  padding: 128px 0 192px;
}

.main__blog {
  padding-bottom: 131px;
}

.main__follow {
  padding-bottom: 134px;
}

.main__customers {
  padding-bottom: 180px;
}

.main__service {
  padding-bottom: 48px;
}

.main__brands {
  padding-bottom: 83px;
}

.main__questions {
  padding-bottom: 128px;
}

.main__posts {
  padding-bottom: 136px;
}

.main__experts {
  padding-bottom: 178px;
}


.footer__top {
  padding-bottom: 129px;
  opacity: 0.9800000190734863;
  background: var(--black, #1E1B1B);
}

.footer__bottom {
  background: var(--black, #1E1B1B);
}

.button {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
}

.button:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.heading {
  color: #1E1B1B;
}

.heading__subtitle {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -3%;
  margin-bottom: 8px;
}

.title {
  font-size: 58px;
  font-weight: 800;
  line-height: 131%;
  letter-spacing: -1.74px;
}

.heading__title {
  display: inline-flex;
  width: 858px;
  flex-direction: column;
  flex-shrink: 0;
}

.heading--text-center {
  text-align: center;
  padding-top: 128px;
}

.follow__heading {
  margin-right: 132px;
}

/* =================== HEADER =============================== */
/* =================== HEADER =============================== */

.header {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding-bottom: 135px;
}


.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
  margin-bottom: 80px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-left: 40px;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  line-height: 28px;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover {
  color: #FF3F3A;
}

.header__user {
  position: relative;
  margin-left: 64px;
  padding-left: 54px;
}

.header__line-btn::before {
  content: "";
  position: absolute;
  right: 30px;
}

.header__user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icon/assisticon.svg") no-repeat;
  width: 40px;
  height: 40px;
  display: block;
}

.header__user::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  background: url("../images/icon/line.svg") no-repeat;
  width: 4px;
  height: 42px;
  display: block;
}

.header__top-road {
  font-weight: 500;
  line-height: 24px;
}

.header__top-cont {
  font-size: 18px;
  line-height: 175%;
}

/* ========================== HEADER BODY ================================== */
/* ========================== HEADER BODY ================================== */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E1B1B;
  margin: 0 auto;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 131%;
  letter-spacing: -3%;
  max-width: 624px;
  margin-bottom: 32px;
}

.header__content-buttons {
  display: flex;
  align-items: center;
}

.header__body-button {
  margin-right: 32px;
}

.header__play-btn {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header__play-btn svg {
  margin-right: 8px;
}

.header__play-btn svg:hover {
  transform: scale(1.1);
  position: relative;
}

.header__watch {
  position: relative;
  margin-top: 48px;
  padding-left: 44px;
}

.header__watch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icon/icon2.svg") no-repeat;
  width: 31px;
  height: 31px;
  display: block;
}

.header__hero {
  position: relative;
}

.header__hero img {
  width: 100%;
  height: 100%;
}

.header__hr {
  position: absolute;
  display: flex;
  top: 81px;
  left: -35px;
  align-items: center;
  padding: 3px 25px 5px 1px;
  line-height: 32px;
  font-size: 24px;
  border: 12px solid #FFF;
  background: linear-gradient(174deg, #FFF 0%, #FFF 100%);
  border-radius: 59px;
  box-shadow: 0px 0px 0px 14px rgba(228, 226, 235, 0.5);
}

.header__hr svg {
  margin-right: 15px;
  line-height: 36px;
}

.header__reting {
  position: absolute;
  bottom: 70px;
  right: -20px;
  padding: 20px 20px;
  border-radius: 59px;
  border: 12px solid #FFF;
  background: linear-gradient(174deg, #FFF 0%, #FFF 100%);
  box-shadow: 0px 0px 0px 14px rgba(228, 226, 235, 0.5);
}

.header__open {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
}

.header__clock {
  font-size: 18px;
  line-height: 32px;
}

/* ================================= OFFER ====================================== */
/* ================================= OFFER ====================================== */

.offer {
  background: var(--light-grey, #F2F2F2);
}

.offer__heading {
  margin-bottom: 64px;

}

.offer__title {
  display: inline-flex;
  max-width: 858px;
}

.offer__list {
  text-align: center;
  display: grid;
  grid-template: repeat(2, auto) / repeat(4, 1fr);
  gap: 8px;
  margin-bottom: 32px;
}

.offer__list-item {
  background: #FFF;
  max-width: 316px;
  height: 232px;
  flex-shrink: 0;
  transition: all .3s;
}

.offer__list-item:hover {
  background: var(--primary, #FF6433);
  color: #FFF;
  transition: all .3s;
}

.offer__list-item:hover svg path {
  fill: #FFF;
  transition: all .3s;
}

.offer__icon {
  display: inline-block;
  text-align: center;
  margin-top: 70px;
}

.offer__list-link {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.offer__link-btn {
  display: flex;
  font-size: 18px;
  line-height: 175%;
  margin-left: 80%;
  transition: all .3s;
}

.offer__link-btn:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.offer__link-btn::after {
  content: "";
  display: block;
  width: 53px;
  height: 26px;
  background: url("../images/icon/arrow.svg") 0 10px / 100% no-repeat;
  margin-left: 16px;
}

/* ========================= BLOG ================================== */
/* ========================= BLOG ================================== */



.blog__heading {
  margin-bottom: 47px;
}

.blog__title {
  margin-top: 131px;
}

.button__content {
  display: flex;
  margin-bottom: 46px;
  flex-wrap: wrap;
}

.blog__button {
  margin-right: 30px;
}

.blog__filter-btn {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  background-color: transparent;
}

.blog__button:last-child {
  margin-right: 0px;
}

.blog__filter-btn--active {
  color: #FF3F3A;
  transition: all .3s;
}

.blog__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 64px 32px;
}

.blog__image-box {
  margin-bottom: 24px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.blog__image-box img {
  width: 100%;
  height: 100%;
}

.blog__link-tag {
  color: var(--grey, #939191);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}

.blog__link-text {
  flex-direction: column;
  flex-shrink: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}

.blog__link-btn {
  flex-direction: column;
  flex-shrink: 0;
  line-height: 175%;
  color: var(--black, #232536);
}

/* ====================== FOLLOW =================================== */
/* ====================== FOLLOW =================================== */


.follow__inner {
  display: flex;
  margin-top: 134px;
  width: 100%;
  height: 100%;
}

.follow__title {
  max-width: 524px;
  flex-shrink: 0;
  margin-bottom: 16px;
  line-height: 131%;
}

.follow__subtitle {
  max-width: 437px;
  flex-direction: column;
  flex-shrink: 0;
  line-height: 28px;
  opacity: 0.6000000238418579;
  margin-bottom: 32px;
}

.follow__values {
  position: relative;
  display: flex;
  margin-left: 131px;
  margin-top: 24px;
}

.follow__namber {
  position: absolute;
  left: -96px;
  margin-top: -12px;
}

.follow__namber::after {
  position: absolute;
  margin-bottom: 30px;
}

.follow__content-text {
  position: relative;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.96px;
  margin-bottom: 10px;
}

.follow__content-text::after {
  content: "";
  position: absolute;
  top: 140%;
  left: -80px;
  transform: translateY(-55%);
  background: url("../images/icon/ellipse\ .svg") no-repeat;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 42px;
  background: rgba(255, 255, 255, 0.24);
  display: block;
}

.namber-line::before {
  content: "";
  position: absolute;
  bottom: 65%;
  left: -60px;
  transform: translateY(-55%);
  background: url("../images/icon/line2.svg") no-repeat;
  width: 2px;
  height: 71px;
  display: block;
}

.follow__namber-text {
  max-width: 336px;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6000000238418579;
  margin-bottom: 29px;
}

/* ============================= CUSTOMERS ============================================ */
/* ============================= CUSTOMERS ============================================ */

.customers {
  background: var(--light-grey, #F2F2F2);
}

.customers__heading {
  text-align: center;
  margin-bottom: 76px;
}

.customers__title {
  display: inline-flex;
  max-width: 900px;
  flex-shrink: 0;
  margin-top: 128px;
}

.customers__slide {
  width: 616px;
  height: 376px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FFF;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.04);
  margin: 24px;
  padding: 65px;
}

.customers__slide-inner {
  max-width: 472;
  padding: 0 auto;
}

.customers__user {
  display: flex;
  align-items: center;
  min-width: 0;
}

.customers__avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.customers__info {
  margin-left: 16px;
}

.customers__info-anme {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.72px;
}

.customers__info-position {
  color: var(--grey, #939191);
  line-height: 28px;
}

.customers__quote {
  flex-direction: column;
  flex-shrink: 0;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.cutomers__slider-arrows {
  position: relative;
}

.customers__slider-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 25px;
  background-color: #FFF;
  border-radius: 50%;
}

.customers__slider-arrow:hover {
  background-color: #1E1B1B;
  transform: scale(1.3);
  transition: all .3s;
}

.customers__slider-prev {
  margin-right: 62px;
}

.customers__slider-arrow:hover path {
  fill: #FFF;
  transition: all .3s;
}

.customers__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers__dots .slick li {
  list-style: none;
}

.customers__dots .slick-active button {
  background-color: #FF6433;
  transition: all .3s;
}

.customers__dots button {
  position: relative;
  font-size: 0;
  width: 30px;
  height: 4px;
  background-color: #939191;
  margin: 0 10px;
}


.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

/* ============================SERVICE================================= */
/* ============================SERVICE================================= */

.service {
  background: var(--light-grey, #F2F2F2);
}

.service__image-inner {
  position: relative;
  height: 502px;
}

.service__image-inner::after {
  display: block;
  content: "";
  position: absolute;
  width: 976px;
  height: 502px;
  top: 0;
  left: 2rem;
  transform: translateX(-35%);
  background: url(../images/brands1.svg) no-repeat;
}

.service__image-inner::before {
  display: block;
  content: "";
  position: absolute;
  width: 944px;
  height: 502px;
  top: 0;
  right: 3rem;
  transform: translateX(33%);
  background: url(../images/brands2.svg) no-repeat;
}


.service__heading {
  position: absolute;
  z-index: 1;
  max-width: 729px;
}

.service__container-title {
  margin-right: 35rem;
  padding: 128px 80px;
  width: 729px;
  height: 502px;
  background-color: #FF6433;
}

.service__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.44px;
}

.service__button {
  background-color: #1E1B1B;
  margin-top: 48px;
}

.service__button:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.service__row {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.service__paragraf {
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.72px;
  opacity: 0.699999988079071;
}

.service__row-item span {
  color: var(--secondary, #661CE7);
  font-size: 58px;
  font-weight: 800;
  line-height: 131%;
  letter-spacing: -1.74px
}

/* ============================BRANDS==================================== */
/* ============================BRANDS==================================== */



.brands {
  background: #E2E6E9;
}

.brands__heading {
  margin-bottom: 32px;
}

.brands__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(5, 1fr);
  gap: 40px;
}

.brands__grid-item {
  display: block;
}

.brands__grid-item img {
  width: 100%;
  height: 100%;
}

.brands__grid-link {
  display: block;
}

/* ==========================QUESTIONS================================= */
/* ==========================QUESTIONS================================= */

.questions {
  background: var(--steelgrey, #E2E6E9);
}

.questions__heading {
  margin-bottom: 86px;
}

.questions__acc {
  display: block;
  margin: 0 auto;
  max-width: 896px;
}

.questions__acc-item {
  background: #FFF;
  margin-bottom: 12px;
}

.questions__acc-item:last-child {
  margin-bottom: 0;
}

.questions__acc-head {
  position: relative;
}

.questions__title {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.72px;
  padding: 38px 0 38px 38px;
}

.questions__icon {
  display: block;
  position: absolute;
  top: 28%;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #FF6433;
}

.questions__icon::before,
.questions__icon::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  width: 20px;
  height: 1px;
  border-radius: 2px;
  background-color: #FFF;
}

.questions__icon::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.questions__acc-link--active .questions__icon::after {
  transform: rotate(0deg);
}

.questions__acc-text {
  color: var(--grey, #939191);
  max-width: 701px;
  font-size: 18px;
  font-style: normal;
  flex-direction: column;
  font-weight: 500;
  line-height: 175%;
  padding: 0 0 38px 38px;
}

/* ============================POSTS===================================== */
/* ============================POSTS===================================== */


.posts__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
  margin-right: 3px;
}

.posts__heading {
  margin-top: 128px;
}

.posts__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.posts__item {
  max-width: 420px;
  padding: 0 15px;
  flex: 0 1 33.333%;
}

.posts__item-link {
  display: block;
  transition: all 1.3s;
}

.posts__image-box {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.posts__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posts__image-box span {
  display: flex;
  position: absolute;
  top: 12px;
  left: 12px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 8px 8px;
}

.posts__image-box span::before {
  content: "";
  display: block;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.posts__item-info {
  display: flex;
  margin: 0 -12px 8px;
}

.posts__info-el {
  padding: 0 12px;
  position: relative;
  color: #787A80;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.posts__info-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.posts__info-el:last-child::after {
  content: none;
}

.posts__info-date {
  display: flex;
  align-items: center;
}

.posts__info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background: url(../images/icon/calendar-icon.svg) 0 0 / 100% no-repeat;
}

.posts__info-time {
  display: flex;
  align-items: center;
}

.posts__info-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background: url(../images/icon/clock-icon.svg) 0 0 / 100% no-repeat;
}

.posts__item-title {
  font-weight: 700;
  font-size: 20px;
  color: #1E212C;
  line-height: 150%;
  margin-bottom: 8px;
}

.posts__item-text {
  margin-bottom: 16px;
  color: #232536;
  line-height: 175%;
  flex-grow: 1;
}

.posts__item-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #1E212C;
  transition: all 1.3s;
}

.posts__item-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/icon/arrow-rad.svg") 0 0 / 100% no-repeat;
  margin-left: 8px;
}

.posts__item-link:hover {
  box-shadow: 0px 30px 30px 10px rgb(101, 103, 109, 0.08);
  transition: all .3s;
}

.posts__item-link:hover .posts__item-btn {
  color: #FF3F3A;
}

.posts__item--podcast .posts__image-box span::before {
  background: url("../images/icon/podcast-icon.svg") 0 0 / 100% no-repeat;
}

.posts__item--video .posts__image-box span::before {
  background: url("../images/icon/play-mini.svg") 0 0 / 100% no-repeat;
}

.posts__item--article .posts__image-box span::before {
  background: url("../images/icon/article-icon.svg") 0 0 / 100% no-repeat;
}

/* ============================EXPERTS======================================= */
/* ============================EXPERTS======================================= */

.experts__heading {
  padding-top: 121px;
  margin-bottom: 48px;
}
.experts__title {
  font-size: 64px;
  max-width: 504px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: -1.92px;
}
.experts__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experts__form-row {
  display: flex;
  margin-bottom: 5px;
}

.experts__form-text,
.experts__form-input {
  width: 624px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--light-grey, #F2F2F2);
  padding: 23px 40px;
}

.experts__form-text::placeholder,
.experts__form-input::placeholder {
  color: var(--black, #1E1B1B);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.experts__form-text {
  resize: none;
}

.experts__button {
  display: block;
  margin-top: 48px;
}

.experts__info {
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.72px;
  margin-bottom: 100px;
  max-width: 479px;
}

.experts__info span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.699999988079071;
}

.experts__info-address {
  margin-bottom: 32px;
}

.experts__info-add {
  display: block;
}

/* ========================MAP================================== */
/* ========================MAP================================== */

.main__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map__wrapper {
  width: 1280px;
  height: 512px;
  margin-bottom: -9%;
  z-index: 1;
}

.map__image-box {
  max-width: 1920px;
  height: 448px;
}

.map__image-box img {
  width: 100%;
  height: 100%;
}

.map__image-box::after {
  content: "";
  position: absolute;
  width: 1920px;
  height: 448px;
  flex-shrink: 0;
  background: url("../images/map-img.png"), lightgray 50% / cover no-repeat;
  margin-left: -260px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* ========================FOOTER======================================= */
/* ========================FOOTER======================================= */


.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__social-inner {
  margin-top: 128px;
}

.footer__heading {
  color: #FFF;
  margin-bottom: 64px;
}

.footer__title {
  max-width: 463px;
  flex-shrink: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -1.44px;
}
.footer__socials {
  display: flex;
}

.footer__socials-item {
  margin-right: 25px;
}

.footer__info-inner {
  color: #FFF;
  margin-top: 128px;
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
  letter-spacing: -0.72px;
  margin-right: 150px;
}

.footer__info-inner span {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  opacity: 0.6000000238418579;
}

.footer__info-address {
  margin-bottom: 32px;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0;
}

.footer__logo:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.footer__nav-list {
  display: flex;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

.footer__nav-item {
  margin-right: 39px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-link {
  white-space: nowrap;
}

.footer__nav-link:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.footer__email {
  color: var(--grey, #939191);
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

/* ==============================MEDIA================================== */
/* ==============================MEDIA================================== */

/* =================================1350==================================== */
@media (max-width:1350px) {
  .offer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .offer__list-item {
    max-width: 409px;
  }

  /* --------------------------------------------- */

  .footer__top-inner {
    flex-direction: column;
  }
  .footer__top-inner {
    align-items: center;
  }
  .footer__title {
  }
  .footer__info-inner {
    margin: 0;
  }
}

/* ===============================1300================================== */

@media (max-width:1300px) {
  .header__title {
    font-size: 52px;
    max-width: 450px;
  }

  .follow__title {
    text-align: center;
    font-size: 40px;
  }

  .follow__subtitle {
    text-align: center;
  }

  .follow__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .follow__namber-text {
    text-align: center;
    margin: 0 auto;
  }

  .follow__values {
    text-align: center;
    flex-direction: column;
    margin: 0;
  }

  .follow__content-text::after {
    display: none;
  }

  .namber-line::before {
    display: none;
  }

  /* ------------------------------------------------------------------ */

  .brands__grid {
    gap: 10px;
  }

  /* ------------------------------------------------------------------ */

  .map__wrapper {
   
  }

}

/* =================================1200==================================== */

@media (max-width:1200px) {
  .posts__item-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 8px;
  }

  .posts__info-el {
    padding: 0;
  }

  .posts__info-el::after {
    content: none;
  }

  .posts__info-dir {
    order: 1;
  }

  .posts__info-date {
    order: 3;
    flex-basis: 100%;
  }

  .posts__info-time {
    order: 2;
  }
}

/* ================================1130================================== */

@media (max-width: 1130px) {
  .brands__grid {
    gap: 5px;
  }

  /* ----------------------------------------- */

  .experts__inner {
    flex-direction: column;
    align-items: start;
  }
}

/* ==================================860=================================== */
@media (max-width: 860px) {
  .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }

  .burger--follow {
    box-shadow: 0 1px 8px #a1a1a1;
    background-color: #FFF;
    top: 15px;
    right: 15px;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 3px;
    margin: 4px 0;
    transition: all .3s;
  }

  .burger::before,
  .burger::after {
    content: "";
    width: 30px;
    height: 4px;
    background-color: #1E1B1B;
    border-radius: 3px;
  }


  .header {
    padding-top: 80px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 320px;
    background-color: #FFF;
    z-index: 100;
    transform: translateX(100%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .burger.active::before {
    position: fixed;
    transform: rotate(45deg);
    top: 26px;
    transition: all .3s;
  }

  .burger.active::after {
    position: fixed;
    transform: rotate(-45deg);
    top: 26;
    transition: all .3s;
  }

  .burger.active span {
    transform: scale(0);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
  }

  .header__user::after {
    display: none;
  }

  /* ------------------------------------------------ */
  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav {
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
  }

  .header__title {
    text-align: center;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__user {
    margin: 0 auto;
  }

  .header__nav-link {
    display: block;
    padding: 10px;
  }

  .header__img {
    display: none;
  }

  .header__content {
    margin: 0;
  }

  .header__main {
    flex-direction: column;
  }

  .header__hr {
    display: none;
  }

  .header__reting {
    position: absolute;
    bottom: -110px;
    right: -110px;
  }

  /* -------------------------------------------- */

  .offer__heading {
    padding: 0;
  }

  .main__offer {
    padding: 20px 0 20px;
  }

  .offer__title {
    text-align: center;
    font-size: 48px;
  }

  .offer__list {
    text-align: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }

  .offer__list-item {
    max-width: 409px;
  }

  .offer__list-link {
    font-size: 20px;
  }

  .offer__link-btn {
    margin: 0;
  }

  /* ---------------------------------------------- */
  .follow__inner {
    flex-direction: column;
    margin-top: 20px;
  }

  .follow__heading {
    max-width: 400px;
    margin: 0 auto;
  }

  .follow__title {
    text-align: center;
    font-size: 40px;
  }

  .follow__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .follow__values {
    text-align: center;
    flex-direction: column;
    margin: 0;
  }

  /* ------------------------------------------------- */
  .main__service {
    padding: 0;
  }

  .service__inner {
    position: relative;
  }

  .service__image-inner::after {
    max-width: 450px;

  }

  .service__row {
    display: flex;
    top: 0;
    left: 22rem;
    margin-top: 0;
  }

  .service__container-title {
    position: absolute;
    max-width: 360px;
    background-color: transparent;
  }

  .service__title {
    font-size: 30px;
    max-width: 360px;
    color: #FF6433;
  }

  .service__button {
    background-color: #FF6433;
  }

  .service__row-item span {
    font-size: 50px;
  }

  /* -------------------------------------------------------- */

  .main__brands {
    padding-bottom: 20px;
  }

  .brands__heading {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .brands__grid {
    display: grid;
    grid-template: repeat(5, auto) / repeat(2, 1fr);
    margin-left: 100px;
  }

  .brands__grid-item {
    max-width: 230px;
  }

  /* -------------------------------------------------------------- */

  .blog__title {
    margin-top: 20px;
    font-size: 52px;
  }

  .blog__heading {
    margin-bottom: 37px;
  }

  .blog__button {
    margin-right: 10px;
  }

  .blog__list {
    gap: 44px 12px;
  }

  .blog__image-box {
    margin-bottom: 12px;
  }

  .blog__link-tag {
    margin-bottom: 10px;
  }

  .blog__link-text {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* ---------------------------------- */

  .customers__heading {
    margin-bottom: 40px;
  }

  .customers__title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  }

  /* -------------------------------------- */
  .posts__title {
    font-size: 28px;
  }

  .posts__row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
/* ---------------------------------------- */

.experts__title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}

.experts__inner {
  align-items: center;
}
.experts__info {
    margin-top: 30px;
  }

  /* ------------------------------------------ */

  .footer__bottom-inner {
    flex-direction: column;
  }
.footer__logo{
  margin-right: 50px;
  margin-bottom: 20px;
}
  .footer__nav-list {
    flex-direction: column;
  }

  .footer__nav-item {
    margin-bottom: 20px;
  }
}

/* ============================750======================================= */
@media (max-width: 750px) {
  .blog__list {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }

  .button__content {
    margin-bottom: 36px;
  }

  /* ----------------------------------------------------- */

  .brands__grid {
    margin: 0;
  }

  /* ----------------------------------------------------- */

  .customers__slide {
    padding: 30px;
    height: auto;
  }

  .customers__slider-arrow {
    display: none;
  }

  /* -------------------------------------------- */

  .experts__form-text,
  .experts__form-input {
    max-width: 320px;
    height: 72px;
  }


  /* -------------------------------------------- */

  
}

/* -----------------------------570------------------------------------------ */

@media (max-width: 570px) {
  .service__row {
    position: relative;
    top: 0;
    left: 0;
    max-width: 360px;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
  }

  .service__paragraf {
    font-size: 15px;
  }

  /* ----------------------------------------------------- */
  .questions__heading {
    margin-bottom: 40px;
  }

  .hading__title {
    font-size: 40px;
  }

  .questions__title {
    font-size: 18px;
  }

  .questions__icon {
    display: none;
  }

  /* ------------------------------------------------- */
  .posts__top {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }

  .posts__title {
    margin-bottom: 30px;
  }

  /* ------------------------------------------- */

  .experts__info {
    font-size: 18px;
  }
}

/* ===============================450=================================== */
@media (max-width:450px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  .header__body-button {
    text-align: center;
    font-size: 16px;
    line-height: 15px;
    padding: 12px 40px;
  }

  .header__content {
    max-width: 435px;
  }

  /* ------------------------------------- */

  .brands__title {
    max-width: 360px;
    text-align: center;
    font-size: 50px;
  }

  /* ---------------------------------------- */

  .customers__info-anme {
    font-size: 20px;
  }

  .customers__quote {
    font-size: 20px;
  }

  .customers__slide {
    padding: 10px;
  }

  .customers__info {
    margin-left: 10px;
  }

  /* ---------------------------------------- */

  .blog__list {
    grid-template: none;
    gap: 10px;
  }

  .blog__title {
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
  }

  .blog__heading {
    margin-bottom: 37px;
  }

  /* ---------------------------------------------- */

  .questions__title {
    padding: 10px 0 10px 10px;
  }

  .questions__acc-text {
    padding: 0 10px 10px 10px;
  }
/* ---------------------------------------------------- */



}