.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}

/*-------------------------------------*/


.block {
  /* background: url("../fonts/9-367x267.jpg") 50% 50% / auto 300px no-repeat, url("../fonts/16-367x267.jpg") 50% 50% / auto 500px no-repeat, linear-gradient(#3d3c3c, #b6afaf); */
  background: url("../fonts/433-367x267.jpg") 20% 50% / cover no-repeat;

}