.conteiner {
  font-size: 24px;
  margin: 300px;
  position: relative;
}


.title {
  margin: 100px;
}


:before,:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}

.title::before {
  background-color: rgb(8, 8, 216);
  top: 8px;
  left: 80px;
}

.title::after {
  background-color: rgb(235, 45, 45);
  top: 8px;
  right: 650px;
}