.wrapper {
  border: 5px solid lightcoral;
  height: 200px;
  margin: 100px;
  display: flex;
  justify-content: space-between;
}

.item {
  height: 50px;
  margin: 5px;
  background: rgb(137, 210, 235);
  color: rgb(255, 252, 252);
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  width: 50px;
  align-self: center;
}